# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

.vs/
.vscode/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# Click-Once directory
publish/

# Generated documentation folder
docs/output/

# Temp folder used for publishing docs
temp/

# Paket
packages/
paket-files
.paket/paket.exe