type project
owners
    Benjamin Collins
authors 
    Benjamin Collins
projectUrl
    http://github.com/aggieben/FPConfig
licenseUrl
    http://github.com/aggieben/FPConfig/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2018
tags
    F# TOML YAML JSON5 parser FParsec FSharp config markup
summary
    FParsec-based configuration format parsers for F#
description
    FParsec-based configuration format parsers for F#; including TOML (and then YAML and JSON5)


